<!-- partial file names start with _ -->

<div class="container">
		<% flash.each do |name, msg| %>
			<div class='alert alert-<%="#{name}" %>'>  
			 <!-- &#215 is the x that closes the flash messege at end of screen -->
				<a href='#' class='close' data-dismiss='alert' &#215;></a>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			</div>
			<% end %>
		<%= yield %>
	</div>